<p id="notice"><%= notice %></p>

<h1>Listing Procedures</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.nombre %></td>
        <td><%= procedure.tipo %></td>
        <td><%= procedure.descripcion %></td>
        <td><%= procedure.precio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedure', new_appointment_procedure_path %>
