<div id="wrapper2" class="center-xs" style="width:40%; margin:0 auto;">

    <%= form_for(@procedure) do |f|%>

        <div class="top-space" style="width:95%;">
          <h4 >
          <%= f.label "Paciente:"%>
          <%=@appointment.patient.nombre_completo%>            
          </h4>
        </div>

        <div class="top-space" style="width:95%;">
          <%= f.label "Tipo de Procedimiento:"%>        
          <%=@procedure.tipo%>
        </div>

      <div class="field">
        <h4 class="large-padding">
        <%= f.label "Descripcion:"%>
        </h4>
        <%=f.text_area :descripcion, :readonly => f.object.persisted?, class:"form-control", style:"height:200px;" %>
      </div>


        <div class="top-space" style="width:95%;">
          <%= f.label "Precio:"%>
        <%=@procedure.precio_pesos%>          
        </div>

       <p>
<%end%>

<%= link_to "Editar", edit_appointment_procedure_path(@appointment,@procedure), class:"green cream btn "%> |
<%= link_to 'Volver', appointment_procedures_path, class:"orange cream btn margin-right" %>
<%= link_to 'Eliminar', [@appointment,@procedure], method: :delete, data: { confirm: '¿Está seguro?' },class:"be-red cream btn " %>
</div>